" Source your .vimrc
source ~/.config/nvim/init.vim

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" enable plugins
set NERDTree

" Set some rules
set ideajoin "smart join with Shift+J
set idearefactormode=keep "stay in normal mode when refactoring

" settings
set foldmethod=syntax

" map spacebar to leader
let mapleader = "\<Space>"

" run / debug
map <leader>r <Action>(Rerun)
map <leader>R <Action>(RunClass)
map <leader>d <Action>(Debug)
map <leader>b <Action>(ToggleLineBreakpoint)

" other actions
map <leader>q <Action>(ToggleDistractionFreeMode)
map <leader>u <Action>(FindUsages)
map <leader>i <Action>(Generate)
map <leader>g <Action>(Git.Menu)
map <leader>/ <Action>(ShowErrorDescription)
map <leader>e <Action>(GotoNextError)
map <leader>fc <Action>(ReformatCode)
map <leader>fi <Action>(OptimizeImports)
map <leader>t <Action>(Terminal.OpenInTerminal)

" open windows
map <leader>op <Action>(ActivateProjectToolWindow)
map <leader>oc <Action>(ActivateCommitToolWindow)
map <leader>og <Action>(ActivateVersionControlToolWindow)
map <leader>of <Action>(ActivateFindToolWindow)
map <leader>or <Action>(ActivateRunToolWindow)
map <leader>od <Action>(ActivateDebugToolWindow)
map <leader>ot <Action>(ActivateTerminalToolWindow)

" other useful commands
"ShowIntentionActions (Alt+Enter)
"GotoDeclaration (Cmd+B)
"Esc: LeaveActiveWindow
"Shift+Esc: HideActiveWindow

" Find more examples here: https://jb.gg/share-ideavimrc
