" Source your .vimrc
source ~/.config/nvim/init.vim

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" enable plugins
set NERDTree

" Set some rules
set ideajoin "smart join with Shift+J
set idearefactormode=keep "stay in normal mode when refactoring

" enable system clipboard copy & pase
set clipboard+=unnamed
set clipboard+=ideaput

" settings
set foldmethod=syntax

" map spacebar to leader
let mapleader = "\<Space>"

" run / debug
map <leader>r <Action>(Rerun)
map <leader>R <Action>(RunClass)
map <leader>d <Action>(Debug)
map <leader>b <Action>(ToggleLineBreakpoint)

" other actions
map <leader>q <Action>(ToggleDistractionFreeMode)
map <leader>u <Action>(FindUsages)
map <leader>i <Action>(Generate)
map <leader>g <Action>(Git.Menu)
map <leader>/ <Action>(ShowErrorDescription)
map <leader>e <Action>(GotoNextError)
map <leader>fc <Action>(ReformatCode)
map <leader>fi <Action>(OptimizeImports)
map <leader>t <Action>(Terminal.OpenInTerminal)

" maybe unncessary
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>
"nnoremap <TAB> :action PreviousTab<CR>
"nnoremap <s-TAB> :action NextTab<CR>
nnoremap <Leader>q :action CloseContent<CR>
nnoremap <leader>c :action CommentByLineComment<CR>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
"nnoremap <Leader>=  :action ReformatCode<CR>
"nnoremap <leader>o :action OptimizeImports<CR>
nnoremap <leader>l :action RecentLocations<CR>
nnoremap <leader>h  :action LocalHistory.ShowHistory<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>

nnoremap <c-/> :action FindInPath<CR>
nnoremap <c-f> :action GotoFile<CR>
nnoremap <leader>u :action FindUsages<CR>
nnoremap <leader>s :action GotoRelated<CR>
nnoremap <leader>h :action CallHierarchy<CR>
nnoremap <leader>b :action ShowNavBar<CR>
nnoremap <c-s> :action FileStructurePopup<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotToDeclaration<CR>
nnoremap gp :action GotToSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap <c-p> :action JumpToLastWindow<CR>
nnoremap <c-x> :action HideAllWindows<CR>
nnoremap ,r :action ContextRun<CR>
nnoremap ,c :action RunClass<CR>
nnoremap ,f :action ChooseRunConfiguration<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,u :action Rerun<CR>
nnoremap ,f :action RerunFailedTests<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,d :action ContextDebug<CR>
nnoremap ,n :action ActivateDebugToolWindow<CR>

nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

" open windows
map <leader>op <Action>(ActivateProjectToolWindow)
map <leader>oc <Action>(ActivateCommitToolWindow)
map <leader>og <Action>(ActivateVersionControlToolWindow)
map <leader>of <Action>(ActivateFindToolWindow)
map <leader>or <Action>(ActivateRunToolWindow)
map <leader>od <Action>(ActivateDebugToolWindow)
map <leader>ot <Action>(ActivateTerminalToolWindow)

" other useful commands
"ShowIntentionActions (Alt+Enter)
"GotoDeclaration (Cmd+B)
"Esc: LeaveActiveWindow
"Shift+Esc: HideActiveWindow

" Find more examples here: https://jb.gg/share-ideavimrc
