{{ $theme := index .themes .theme -}}
theme = {{ $theme.ghostty }}
background-opacity = 0.95
background-blur = true
mouse-hide-while-typing = true
macos-titlebar-style = tabs 
auto-update = off
auto-update-channel = tip 
shell-integration-features = ssh-env,ssh-terminfo  

keybind = global:ctrl+alt+backquote=toggle_quick_terminal

keybind = super+alt+h=goto_split:left
keybind = super+alt+j=goto_split:bottom
keybind = super+alt+k=goto_split:top
keybind = super+alt+l=goto_split:right

keybind = super+ctrl+h=resize_split:left,10
keybind = super+ctrl+j=resize_split:down,10
keybind = super+ctrl+k=resize_split:up,10
keybind = super+ctrl+l=resize_split:right,10

keybind = super+shift+j=jump_to_prompt:1
keybind = super+shift+k=jump_to_prompt:-1

